*{
    margin: 0px;
    padding: 0px;
}
#displayBar{
    display: flex;
    justify-content: center;
    gap: 20px;
    background: linear-gradient(to right,rgb(137, 104, 255),rgb(175, 152, 255));

    /* background-color: #556B2F; */
    color: #F8F9FA;
    flex-wrap: wrap;
    padding: 10px 100px;
    /* border-bottom:1px solid black ; */
    align-items: center;
}

@media(max-width:426px){
    #displayBar{
        display: flex;
        justify-content:space-around;
        gap: 10px;
        
        padding: 10px 30px;
        
    }
}



#dashHeading{
    text-align: center;
    background-color: #ffffff;
    color: #E1B12C;
    margin: 20px;
}
#DashLogoutBtn{
    /* border: 1px solid black; */
    border: none;
    padding: 5px 20px;
    background-color: #F8F9FA;
    color: #714aff;
    cursor: pointer;
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 5px;
    box-shadow: -1px 2px 6px 1px #00000069;
    border-radius: 6px;
}
#DashLogoutBtn:hover{
    background-color: #714aff;
    color: #F8F9FA;
    
    /* border: 1px solid black; */
}
#articalone{
    width: 25%;
    /* height: 80vh; */
    height: fit-content;
     background: linear-gradient(115deg,rgb(137, 104, 255),rgb(175, 152, 255));;
    color: #F8F9FA;
    text-align: center;

    padding: auto;
}
#articalone div{

    background-color: white;
    box-shadow: 2px 3px 10px 1px #0000008a;
    border-radius: 6px;
    margin:30px;
    padding: 10px ;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
}
#articalone div:hover{
    position: relative;
    top: 2px;
}



#dashMid{
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    
}
#dashLink{
    text-decoration: none;
    color: #714aff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}


#OutletSection{
    
    margin: auto;
    
    
    
}
#MobNavBar{
    display: none;
}

#mNavBar{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(115deg,rgb(175, 152, 255),rgb(137, 104, 255));;
    color: #F8F9FA;
    text-align: center;
    padding: 10px 0px;
    margin-bottom: 20px;
}
#MFirstNav{
    display: flex;
}
#MSectNav{
    display: flex;
}

    #mStylelink {
        background-color: white;
        box-shadow: 2px 3px 10px 1px #0000008a;
        border-radius: 6px;
        margin: 5px;
        padding: 6px;
        font-size: 14px;
        cursor: pointer;
        text-align: center;
    }


    #SMobNavBar{
        display: none;
    }
    #SMdisplayBar{
        
            display: flex;
            justify-content:space-around;
            gap: 10px;
            background: linear-gradient(to right,rgb(137, 104, 255),rgb(175, 152, 255));
            color: #F8F9FA;
            padding: 10px 30px;
            
        
    }

@media (max-width:426px){
    #dashMid{
        display: none;
    }
    #MobNavBar{
        display: block;
    }
}
@media(max-width:396px){
    #displayBar{
        display: none;
    }
    #MobNavBar{
        display: none;
    }
    #SMobNavBar{
        display: block;
    }
    #SMdisplayBar{
        display: block;
        text-align: center;
    }
    #DashLogoutBtn{
        /* border: 1px solid black; */
        border: none;
        padding: 5px 20px;
        background-color: #F8F9FA;
        color: #714aff;
        cursor: pointer;
        margin-left: auto;
        display: flex;
        align-items: center;
        gap: 5px;
        box-shadow: -1px 2px 6px 1px #00000069;
        border-radius: 6px;
        justify-content: center;
    }
}

#balanceMainDiv{
    background-color: #fff;
    box-shadow:0px 3px 10px 1px #00000047;
    padding: 40px;
    text-align: center;

}
#balanceMainDiv div{
    font-size: 22px;
    font-weight: 700;
}
#balanceMainDiv div{
    color: green;
    font-size: 18px;
}


#dashHeading2{
    padding: 10px;
    margin-bottom: 10px;
    color: #E1B12C;
}


#depositeMainDiv{
    background-color: #fff;
    box-shadow:0px 3px 10px 1px #00000047;
    padding: 40px;
    text-align: center;
}
#depositeMainDiv div{
    gap: 10px;
}

@media (max-width:356px){
    #depositeMainDiv {
      padding: 10px;
  }
   
  }
#withdrawMainDiv{
    background-color: #fff;
    box-shadow:0px 3px 10px 1px #00000047;
    padding: 40px;
    text-align: center;
}
@media(max-width:356px){
    #withdrawMainDiv {
        
        padding: 10px;
    }
    
    
}