
#maindiv{
    display: flex;
    justify-content: space-between;
     background: linear-gradient(to right,rgb(137, 104, 255),rgb(175, 152, 255));;
    align-items: center;
    color: #F8F9FA;
    flex-wrap: wrap;
    padding: 10px 100px;
}

#navbararticle{
    display: flex;
    /* gap: 5px; */
}

#navbarlink{
    text-decoration: none;
    color: #F8F9FA;
    padding: 10px 20px;
    border-radius: 20px;
    transition: 0.3s ease;
}
#navbarlink:hover{
    background-color: #714aff ;
    color: #F8F9FA;
}

#searchbar {
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
}